@use "../../styles/partials/variables" as *;

.projects {
  justify-content: center;

  &__icon {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin-bottom: 2em;
    margin-left: 0.7em;
  }

  &__side {
    margin-top: 0.6em;
    background-color: $clr-600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img {
      margin: 0 auto;
      padding-bottom: 2em;
      width: 80%;
    }
    & h2 {
      padding: 1em;
      margin: 0 auto;
    }
  }
  &__title {
    color: $clr-200;
    padding: 0.5em 0 0.5em 1em;
  }
  &__card {
    margin: 0 auto;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: $clr-200;
    justify-content: space-around;
    align-items: center;
    padding: 0.7em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    & img {
      width: 200px;
      height: auto;
      border-radius: 0.5em;

      &:hover {
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
