// ==================================  Colors
$clr-100: #ffffff; // white
$clr-200: #eff9f0; // eggshell
$clr-300: #ddc8c4; // light brown
$clr-500: #896a67; // brown
$clr-600: #6b4d57; // dark brown
$clr-700: #13070c; // black

// ==================================  Media

$tablet-min-width: 768px;
$desktop-min-width: 1280px;
