@use "../../styles/partials/variables" as *;

.hero {
  height: 50vh;
  background-image: url("../../assets/images/workbench.JPG");
  background-size: cover;

  &__title {
    color: $clr-100;
    font-size: 3em;
    text-align: center;
    padding-top: 1em;
    text-shadow: 2px 2px 2px $clr-700;
  }

  &__cta {
    margin: 0 auto;
    margin-top: 8em;
    display: flex;
    width: 90%;
    background-color: $clr-100;
    border-radius: 0.5em;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 2px $clr-700;
  }
}
