@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  justify-content: space-around;
  height: 8em;
  background-color: $clr-200;

  & a {
    color: $clr-600;
    text-decoration: none;
    font-size: 1.6em;
  }
  &__links ul {
    display: flex;
  }

  &__container-left {
    & img {
      padding: 2em 0 0 1em;
    }
    & p {
      padding: 0.4em 0 0 1em;
    }
  }
  &__container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    & * {
      margin: 0 0.5em;
    }
  }
}
