@use "../../styles/partials/variables" as *;

.footer {
  height: 8em;
  background-color: $clr-200;

  &__logo {
    width: 100px;
  }

  &__container ul {
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
    & li {
      padding-left: 1em;

      & a {
        color: $clr-700;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
  }
}
